@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.background-t{
    overflow: hidden;
    height: 100vh;
    background: rgb(5,197,237);

}

.first-side{
    overflow: hidden;
    height: 80vh;
    width: 100%;   
    text-align: center;  
}


.second-side{
    display: none;
    overflow: hidden;
    height: 80vh;
    width: 100%;   
    text-align: center;  
}

.second-side.active{
    display: block;
}

.first-side.active{
    display: none;
}

.newspaper{
    position: absolute;
    opacity: 0.3;
}

.title{
    margin-top: 1%;
    color: black;
    margin-left: 5%;
    font-size: 6.5vh;
}

.changer-text{
    right: 4.5%;
    bottom: 1%;
    position: absolute;
    height: 5vh;
    width: 55vh;
    font-size: 2vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: lightseagreen;
}
.changer{
    border: 3px solid black;
    background-color: white;
    right: 1%;
    bottom: 3%;
    position: absolute;
    height: 3vh;
    border: none;
    width: 25vh;
    border-radius: 7px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
a:hover {
    cursor:pointer;
    text-decoration: black;
}

.info-container-1{
    background-color: white;
    margin-top: 3%;
    border: 3px solid black;
    border-radius: 7px;
    height: 25%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.info-container-2{
    background-color: white;
    margin-top: 2%;
    border: 3px solid black;
    border-radius: 7px;
    height: 40%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.input-1{
    width: 90%;
    height: 35%;
    border: 3px solid black;
    background-color: lightgray;
    border-radius: 7px;
    text-align: center;
    font-size: 4vh;
}

.input-2{
    width: 90%;
    height: 25%;
    border: 3px solid black;
    background-color: lightgray;
    border-radius: 7px;
    text-align: center;
    font-size: 4vh;
    margin-bottom: 1%;
}

.subtitle-1{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: left;
    margin-left: 3%;
    color: lightseagreen;
    font-size: 3vh;
    margin-bottom: 2%;
    margin-top: 3%;
}

.search-button{
    background-color: white;
    margin-top: 2%;
    width: 45vh;
    height: 8vh;
    border-radius: 7px;
    font-size: 2.5vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: lightseagreen;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
